

<footer style="text-align: center; padding: 5px; color: #e3f2fd blue lighten-5; background: #e1f5fe">
  <div style="color: #212121; footer-copyright text-center py-3">© 2019 Copyright:
    <a href="http://devbootstrap.com/"> DevBootstrap.com</a>
  </div>
</footer>