<h1> Show Department</h1>
	<div class="container">
	<div class="row">
	              <div class="col-md-7">
	                  <div class="crane-list-content">
	                      <div class="crane-title">
	                          <h3>Department Name: <%= @department.name %></h3>
	                      </div>
	                      <%= link_to('Back to all department list', departments_path, class: "btn btn-info") %> | 
	<%= link_to('Edit', edit_department_path, class: "btn btn-warning") %> |
	<%= link_to('Delete', department_path(@department),class: "btn btn-danger", method: :delete, data: {confirm: 'Are you sure to delete?'})%>
	                  </div>
	              </div>
	          </div>
	          </a>
	      </div>
	</div>
</div>


